<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ cart.calculate_quantity_items_in_cart }} | {{ cart.calculate_price_items_in_cart }}
    <hr>
    {{ cart }}
    <style>
        table, tr, th {
            border: 1px solid black;
        }
    </style>
    {% if cart %}
        <form action="{% url 'cart-update' %}" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <table>
                <thead>
                    <tr>
                        <th>Артикул</th>
                        <th>Наименование</th>
                        <th>Стоимость</th>
                        <th>На складе</th>
                        <th>Количество</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% load cart_tags %}
                    {% for item, field in cart.cartitems.all|zip:formset %}
                        <tr>
                            <td>{{ item.product.article }}</td>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.product.price }}</td>
                            <td>{{ item.product.quantity }}</td>
                            <td>
                                {{ field.id }}
                                {{ field.quantity }}
                            </td>
                            <td>
                                {% if formset.can_delete %} {{ field.DELETE }} - удалить {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Сохранить</button>
        </form>
    {% else %}
        <strong>Отсутствуют товары в корзине</strong>
    {% endif %}
    <hr>
</body>
</html>