<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ cart.calculate_quantity_items_in_cart }} | {{ cart.calculate_price_items_in_cart }}
    <hr>
    {{ cart }}
    {% if cart %}
        <table>
            <thead>
                <tr>
                    <th>Артикул</th>
                    <th>Наименование</th>
                    <th>Стоимость</th>
                    <th>На складе</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.cartitems.all %}
                    <tr>
                        <td>{{ item.product.article }}</td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.product.quantity }}</td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <strong>Отсутствуют товары в корзине</strong>
    {% endif %}
</body>
</html>